pandas==1.5.2  # Data manipulation and analysis library
numpy==1.23.5  # Numerical computing library
matplotlib==3.6.2  # Plotting and visualization library
seaborn==0.12.1  # Statistical data visualization library
scikit-learn==1.1.3  # Machine learning library
streamlit==1.13.6  # Web framework for building interactive data apps
pickle==5.1  # Data serialization library