pandas>=1.1.0,<1.5.3  # Data manipulation and analysis library (compatible with 3.9)
numpy>=1.19.5,<1.24.0  # Numerical computing library (compatible with 3.9)
matplotlib>=3.3.2,<3.6.3  # Plotting and visualization library (compatible with 3.9)
seaborn>=0.11.1,<0.13.0  # Statistical data visualization library (compatible with 3.9)
scikit-learn>=1.0.1,<1.2.0  # Machine learning library (compatible with 3.9)
streamlit==1.31.1        # Web framework for building interactive data apps (compatible with 3.9)
pickle>=5.1             # Data serialization library (compatible with Python 2 and 3)