pandas>=1.1.0,<1.5.3  # Data manipulation and analysis library
numpy>=1.19.5,<1.24.0  # Numerical computing library
matplotlib>=3.3.2,<3.6.3  # Plotting and visualization library
seaborn>=0.11.1,<0.13.0  # Statistical data visualization library
scikit-learn>=1.0.1,<1.2.0  # Machine learning library
streamlit==1.31.1        # Web framework for building interactive data apps (compatible with 3.9)
joblib>=0.17.2        # Model persistence library (compatible with Python 2 and 3)